openapi: 3.1.0
info:
  title: Oracle Eloqua Bulk Account Exports Contact Lists API
  description: The Bulk API for Oracle Eloqua Marketing Cloud Service, designed for high-volume data operations including imports, exports, and synchronization of large datasets for contacts, accounts, activities, and custom objects.
  version: '2.0'
  contact:
    name: Oracle Support
    url: https://support.oracle.com/
  termsOfService: https://www.oracle.com/legal/terms.html
servers:
- url: https://secure.p01.eloqua.com/API/Bulk/2.0
  description: Eloqua Bulk API v2.0 (pod may vary per instance)
security:
- basicAuth: []
- oAuth2: []
tags:
- name: Contact Lists
  description: Create and manage contact lists
paths:
  /assets/contact/lists:
    get:
      operationId: listContactLists
      summary: Oracle Eloqua List contact lists
      description: Retrieve all contact lists matching the specified criteria.
      tags:
      - Contact Lists
      parameters:
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/depth'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/orderBy'
      responses:
        '200':
          description: Successfully retrieved contact lists
          content:
            application/json:
              schema:
                type: object
                properties:
                  elements:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContactList'
                  page:
                    type: integer
                  pageSize:
                    type: integer
                  total:
                    type: integer
        '400':
          description: Bad request
        '401':
          description: Unauthorized
  /assets/contact/list:
    post:
      operationId: createContactList
      summary: Oracle Eloqua Create a contact list
      description: Create a new contact list.
      tags:
      - Contact Lists
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactList'
      responses:
        '201':
          description: Contact list created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactList'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
  /assets/contact/list/{id}:
    get:
      operationId: getContactList
      summary: Oracle Eloqua Retrieve a contact list
      description: Retrieve a single contact list by its identifier.
      tags:
      - Contact Lists
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/depth'
      responses:
        '200':
          description: Successfully retrieved contact list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactList'
        '401':
          description: Unauthorized
        '404':
          description: Contact list not found
    put:
      operationId: updateContactList
      summary: Oracle Eloqua Update a contact list
      description: Update an existing contact list.
      tags:
      - Contact Lists
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactList'
      responses:
        '200':
          description: Successfully updated contact list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactList'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Contact list not found
    delete:
      operationId: deleteContactList
      summary: Oracle Eloqua Delete a contact list
      description: Delete a contact list by its identifier.
      tags:
      - Contact Lists
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '204':
          description: Contact list deleted successfully
        '401':
          description: Unauthorized
        '404':
          description: Contact list not found
components:
  parameters:
    orderBy:
      name: orderBy
      in: query
      description: Field to sort results by (e.g., createdAt DESC)
      schema:
        type: string
    count:
      name: count
      in: query
      description: Maximum number of entities to return (1-1000)
      schema:
        type: integer
        minimum: 1
        maximum: 1000
    depth:
      name: depth
      in: query
      description: Level of detail returned for the entity
      schema:
        type: string
        enum:
        - minimal
        - partial
        - complete
        default: minimal
    page:
      name: page
      in: query
      description: Page number to return (starts at 1)
      schema:
        type: integer
        minimum: 1
        default: 1
    search:
      name: search
      in: query
      description: Search criteria for filtering results
      schema:
        type: string
    id:
      name: id
      in: path
      required: true
      description: The unique identifier of the resource
      schema:
        type: string
  schemas:
    ContactList:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the contact list
          readOnly: true
        name:
          type: string
          description: Contact list name
        description:
          type: string
          description: Contact list description
        count:
          type: integer
          description: Number of contacts in the list
          readOnly: true
        membershipAdditions:
          type: array
          description: Contact identifiers to add
          items:
            type: string
        membershipDeletions:
          type: array
          description: Contact identifiers to remove
          items:
            type: string
        folderId:
          type: string
          description: Containing folder identifier
          readOnly: true
        createdAt:
          type: string
          description: Creation timestamp (Unix time)
          readOnly: true
        updatedAt:
          type: string
          description: Last update timestamp (Unix time)
          readOnly: true
        depth:
          type: string
          description: Level of detail returned
          readOnly: true
        type:
          type: string
          description: Asset type in Eloqua
          readOnly: true
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using company\username and password in the format CompanyName\Username.
    oAuth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow
      flows:
        authorizationCode:
          authorizationUrl: https://login.eloqua.com/auth/oauth2/authorize
          tokenUrl: https://login.eloqua.com/auth/oauth2/token
          scopes:
            full: Full access to all Eloqua resources
externalDocs:
  description: Oracle Eloqua Bulk API Documentation
  url: https://docs.oracle.com/en/cloud/saas/marketing/eloqua-rest-api/BulkAPI.html
