openapi: 3.1.0
info:
  title: Oracle Eloqua Bulk Account Exports Programs API
  description: The Bulk API for Oracle Eloqua Marketing Cloud Service, designed for high-volume data operations including imports, exports, and synchronization of large datasets for contacts, accounts, activities, and custom objects.
  version: '2.0'
  contact:
    name: Oracle Support
    url: https://support.oracle.com/
  termsOfService: https://www.oracle.com/legal/terms.html
servers:
- url: https://secure.p01.eloqua.com/API/Bulk/2.0
  description: Eloqua Bulk API v2.0 (pod may vary per instance)
security:
- basicAuth: []
- oAuth2: []
tags:
- name: Programs
  description: Create and manage automation programs
paths:
  /assets/programs:
    get:
      operationId: listPrograms
      summary: Oracle Eloqua List programs
      description: Retrieve all automation programs matching the specified criteria.
      tags:
      - Programs
      parameters:
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/depth'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/orderBy'
      responses:
        '200':
          description: Successfully retrieved programs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResultProgram'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
  /assets/program:
    post:
      operationId: createProgram
      summary: Oracle Eloqua Create a program
      description: Create a new automation program.
      tags:
      - Programs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Program'
      responses:
        '201':
          description: Program created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Program'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
  /assets/program/{id}:
    get:
      operationId: getProgram
      summary: Oracle Eloqua Retrieve a program
      description: Retrieve a single automation program by its identifier.
      tags:
      - Programs
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/depth'
      responses:
        '200':
          description: Successfully retrieved program
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Program'
        '401':
          description: Unauthorized
        '404':
          description: Program not found
    put:
      operationId: updateProgram
      summary: Oracle Eloqua Update a program
      description: Update an existing automation program.
      tags:
      - Programs
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Program'
      responses:
        '200':
          description: Successfully updated program
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Program'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Program not found
    delete:
      operationId: deleteProgram
      summary: Oracle Eloqua Delete a program
      description: Delete an automation program by its identifier.
      tags:
      - Programs
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '204':
          description: Program deleted successfully
        '401':
          description: Unauthorized
        '404':
          description: Program not found
  /assets/program/active/{id}:
    post:
      operationId: activateProgram
      summary: Oracle Eloqua Activate a program
      description: Activate an automation program, changing its status to Active.
      tags:
      - Programs
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Program activated successfully
        '401':
          description: Unauthorized
        '404':
          description: Program not found
  /assets/program/draft/{id}:
    post:
      operationId: deactivateProgram
      summary: Oracle Eloqua Deactivate a program
      description: Deactivate an automation program, returning it to Draft status.
      tags:
      - Programs
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Program deactivated successfully
        '401':
          description: Unauthorized
        '404':
          description: Program not found
  /assets/program/pause/{id}:
    post:
      operationId: pauseProgram
      summary: Oracle Eloqua Pause a program
      description: Pause an active automation program.
      tags:
      - Programs
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Program paused successfully
        '401':
          description: Unauthorized
        '404':
          description: Program not found
components:
  parameters:
    orderBy:
      name: orderBy
      in: query
      description: Field to sort results by (e.g., createdAt DESC)
      schema:
        type: string
    count:
      name: count
      in: query
      description: Maximum number of entities to return (1-1000)
      schema:
        type: integer
        minimum: 1
        maximum: 1000
    depth:
      name: depth
      in: query
      description: Level of detail returned for the entity
      schema:
        type: string
        enum:
        - minimal
        - partial
        - complete
        default: minimal
    page:
      name: page
      in: query
      description: Page number to return (starts at 1)
      schema:
        type: integer
        minimum: 1
        default: 1
    search:
      name: search
      in: query
      description: Search criteria for filtering results
      schema:
        type: string
    id:
      name: id
      in: path
      required: true
      description: The unique identifier of the resource
      schema:
        type: string
  schemas:
    Program:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the program
          readOnly: true
        name:
          type: string
          description: Program name
        description:
          type: string
          description: Program description
        currentStatus:
          type: string
          enum:
          - Active
          - Draft
          - Paused
          - Completed
          - Scheduled
          description: Current program status
          readOnly: true
        scheduledFor:
          type: string
          description: Scheduled execution time (Unix time)
        elements:
          type: array
          description: Program step elements
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              type:
                type: string
        folderId:
          type: string
          description: Containing folder identifier
          readOnly: true
        createdAt:
          type: string
          description: Creation timestamp (Unix time)
          readOnly: true
        updatedAt:
          type: string
          description: Last update timestamp (Unix time)
          readOnly: true
        depth:
          type: string
          description: Level of detail returned
          readOnly: true
        type:
          type: string
          description: Asset type in Eloqua
          readOnly: true
    QueryResultProgram:
      type: object
      properties:
        elements:
          type: array
          items:
            $ref: '#/components/schemas/Program'
        page:
          type: integer
        pageSize:
          type: integer
        total:
          type: integer
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using company\username and password in the format CompanyName\Username.
    oAuth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow
      flows:
        authorizationCode:
          authorizationUrl: https://login.eloqua.com/auth/oauth2/authorize
          tokenUrl: https://login.eloqua.com/auth/oauth2/token
          scopes:
            full: Full access to all Eloqua resources
externalDocs:
  description: Oracle Eloqua Bulk API Documentation
  url: https://docs.oracle.com/en/cloud/saas/marketing/eloqua-rest-api/BulkAPI.html
