openapi: 3.2.0
info:
  title: Oracle Eloqua REST Users API
  description: The primary REST API for Oracle Eloqua Marketing Cloud Service, providing access to marketing automation assets and data including contacts, accounts, campaigns, emails, forms, landing pages, custom objects, and more.
  version: '2.0'
  contact:
    name: Oracle Support
    url: https://support.oracle.com/
  termsOfService: https://www.oracle.com/legal/terms.html
servers:
- url: https://secure.p01.eloqua.com/API/REST/2.0
  description: Eloqua REST API v2.0 (pod may vary per instance)
security:
- basicAuth: []
- oAuth2: []
tags:
- name: Users
  description: Manage system users
paths:
  /system/users:
    get:
      operationId: listUsers
      summary: Oracle Eloqua List users
      description: Retrieve all system users matching the specified criteria.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/depth'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/orderBy'
      responses:
        '200':
          description: Successfully retrieved users
          content:
            application/json:
              schema:
                type: object
                properties:
                  elements:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  page:
                    type: integer
                  pageSize:
                    type: integer
                  total:
                    type: integer
        '401':
          description: Unauthorized
  /system/user/{id}:
    get:
      operationId: getUser
      summary: Oracle Eloqua Retrieve a user
      description: Retrieve a single system user by their identifier.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/depth'
      responses:
        '200':
          description: Successfully retrieved user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
        '404':
          description: User not found
    put:
      operationId: updateUser
      summary: Oracle Eloqua Update a user
      description: Update an existing system user.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: Successfully updated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: User not found
    delete:
      operationId: deleteUser
      summary: Oracle Eloqua Delete a user
      description: Delete a system user by their identifier.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '204':
          description: User deleted successfully
        '401':
          description: Unauthorized
        '404':
          description: User not found
  /system/user/current:
    get:
      operationId: getCurrentUser
      summary: Oracle Eloqua Retrieve current user
      description: Retrieve the currently authenticated user.
      tags:
      - Users
      responses:
        '200':
          description: Successfully retrieved current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
components:
  parameters:
    id:
      name: id
      in: path
      required: true
      description: The unique identifier of the resource
      schema:
        type: string
    count:
      name: count
      in: query
      description: Maximum number of entities to return (1-1000)
      schema:
        type: integer
        minimum: 1
        maximum: 1000
    orderBy:
      name: orderBy
      in: query
      description: Field to sort results by (e.g., createdAt DESC)
      schema:
        type: string
    search:
      name: search
      in: query
      description: Search criteria for filtering results
      schema:
        type: string
    depth:
      name: depth
      in: query
      description: Level of detail returned for the entity
      schema:
        type: string
        enum:
        - minimal
        - partial
        - complete
        default: minimal
    page:
      name: page
      in: query
      description: Page number to return (starts at 1)
      schema:
        type: integer
        minimum: 1
        default: 1
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the user
          readOnly: true
        name:
          type: string
          description: User display name
        loginName:
          type: string
          description: User login name
        emailAddress:
          type: string
          format: email
          description: User email address
        company:
          type: string
          description: User company name
        enabled:
          type: boolean
          description: Whether the user account is enabled
        createdAt:
          type: string
          description: Creation timestamp (Unix time)
          readOnly: true
        updatedAt:
          type: string
          description: Last update timestamp (Unix time)
          readOnly: true
        type:
          type: string
          description: Asset type in Eloqua
          readOnly: true
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using company\username and password in the format CompanyName\Username.
    oAuth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow
      flows:
        authorizationCode:
          authorizationUrl: https://login.eloqua.com/auth/oauth2/authorize
          tokenUrl: https://login.eloqua.com/auth/oauth2/token
          scopes:
            full: Full access to all Eloqua resources
externalDocs:
  description: Oracle Eloqua REST API Documentation
  url: https://docs.oracle.com/en/cloud/saas/marketing/eloqua-rest-api/
