openapi: 3.2.0
info:
  title: Oracle Eloqua REST Contact Segments API
  description: The primary REST API for Oracle Eloqua Marketing Cloud Service, providing access to marketing automation assets and data including contacts, accounts, campaigns, emails, forms, landing pages, custom objects, and more.
  version: '2.0'
  contact:
    name: Oracle Support
    url: https://support.oracle.com/
  termsOfService: https://www.oracle.com/legal/terms.html
servers:
- url: https://secure.p01.eloqua.com/API/REST/2.0
  description: Eloqua REST API v2.0 (pod may vary per instance)
security:
- basicAuth: []
- oAuth2: []
tags:
- name: Contact Segments
  description: Create and manage contact segments
paths:
  /assets/contact/segments:
    get:
      operationId: listContactSegments
      summary: Oracle Eloqua List contact segments
      description: Retrieve all contact segments matching the specified criteria.
      tags:
      - Contact Segments
      parameters:
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/depth'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/orderBy'
      responses:
        '200':
          description: Successfully retrieved contact segments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResultContactSegment'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
  /assets/contact/segment:
    post:
      operationId: createContactSegment
      summary: Oracle Eloqua Create a contact segment
      description: Create a new contact segment.
      tags:
      - Contact Segments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactSegment'
      responses:
        '201':
          description: Segment created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactSegment'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
  /assets/contact/segment/{id}:
    get:
      operationId: getContactSegment
      summary: Oracle Eloqua Retrieve a contact segment
      description: Retrieve a single contact segment by its identifier.
      tags:
      - Contact Segments
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/depth'
      responses:
        '200':
          description: Successfully retrieved contact segment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactSegment'
        '401':
          description: Unauthorized
        '404':
          description: Segment not found
    put:
      operationId: updateContactSegment
      summary: Oracle Eloqua Update a contact segment
      description: Update an existing contact segment.
      tags:
      - Contact Segments
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactSegment'
      responses:
        '200':
          description: Successfully updated contact segment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactSegment'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Segment not found
    delete:
      operationId: deleteContactSegment
      summary: Oracle Eloqua Delete a contact segment
      description: Delete a contact segment by its identifier.
      tags:
      - Contact Segments
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '204':
          description: Segment deleted successfully
        '401':
          description: Unauthorized
        '404':
          description: Segment not found
components:
  parameters:
    id:
      name: id
      in: path
      required: true
      description: The unique identifier of the resource
      schema:
        type: string
    count:
      name: count
      in: query
      description: Maximum number of entities to return (1-1000)
      schema:
        type: integer
        minimum: 1
        maximum: 1000
    orderBy:
      name: orderBy
      in: query
      description: Field to sort results by (e.g., createdAt DESC)
      schema:
        type: string
    search:
      name: search
      in: query
      description: Search criteria for filtering results
      schema:
        type: string
    depth:
      name: depth
      in: query
      description: Level of detail returned for the entity
      schema:
        type: string
        enum:
        - minimal
        - partial
        - complete
        default: minimal
    page:
      name: page
      in: query
      description: Page number to return (starts at 1)
      schema:
        type: integer
        minimum: 1
        default: 1
  schemas:
    ContactSegment:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the segment
          readOnly: true
        name:
          type: string
          description: Segment name
        description:
          type: string
          description: Segment description
        count:
          type: integer
          description: Number of contacts in the segment
          readOnly: true
        lastCalculatedAt:
          type: string
          description: When the segment was last calculated (Unix time)
          readOnly: true
        elements:
          type: array
          description: Segment filter criteria
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              type:
                type: string
        folderId:
          type: string
          description: Containing folder identifier
          readOnly: true
        createdAt:
          type: string
          description: Creation timestamp (Unix time)
          readOnly: true
        updatedAt:
          type: string
          description: Last update timestamp (Unix time)
          readOnly: true
        depth:
          type: string
          description: Level of detail returned
          readOnly: true
        type:
          type: string
          description: Asset type in Eloqua
          readOnly: true
    QueryResultContactSegment:
      type: object
      properties:
        elements:
          type: array
          items:
            $ref: '#/components/schemas/ContactSegment'
        page:
          type: integer
        pageSize:
          type: integer
        total:
          type: integer
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using company\username and password in the format CompanyName\Username.
    oAuth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow
      flows:
        authorizationCode:
          authorizationUrl: https://login.eloqua.com/auth/oauth2/authorize
          tokenUrl: https://login.eloqua.com/auth/oauth2/token
          scopes:
            full: Full access to all Eloqua resources
externalDocs:
  description: Oracle Eloqua REST API Documentation
  url: https://docs.oracle.com/en/cloud/saas/marketing/eloqua-rest-api/
