openapi: 3.1.0
info:
  title: Oracle Eloqua Bulk Account Exports Contact Exports API
  description: The Bulk API for Oracle Eloqua Marketing Cloud Service, designed for high-volume data operations including imports, exports, and synchronization of large datasets for contacts, accounts, activities, and custom objects.
  version: '2.0'
  contact:
    name: Oracle Support
    url: https://support.oracle.com/
  termsOfService: https://www.oracle.com/legal/terms.html
servers:
- url: https://secure.p01.eloqua.com/API/Bulk/2.0
  description: Eloqua Bulk API v2.0 (pod may vary per instance)
security:
- basicAuth: []
- oAuth2: []
tags:
- name: Contact Exports
  description: Export contact data in bulk
paths:
  /contacts/exports:
    get:
      operationId: listContactExports
      summary: Oracle Eloqua List contact export definitions
      description: Retrieve all contact export definitions.
      tags:
      - Contact Exports
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/orderBy'
      responses:
        '200':
          description: Successfully retrieved contact exports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportList'
        '401':
          description: Unauthorized
    post:
      operationId: createContactExport
      summary: Oracle Eloqua Create a contact export definition
      description: Create a new export definition for contacts. After creation, create a sync to execute the export.
      tags:
      - Contact Exports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportDefinition'
      responses:
        '201':
          description: Contact export definition created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportDefinition'
        '400':
          description: Bad request - invalid export definition
        '401':
          description: Unauthorized
  /contacts/exports/{id}:
    get:
      operationId: getContactExport
      summary: Oracle Eloqua Retrieve a contact export definition
      description: Retrieve a specific contact export definition by its identifier.
      tags:
      - Contact Exports
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Successfully retrieved contact export
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportDefinition'
        '401':
          description: Unauthorized
        '404':
          description: Export definition not found
    put:
      operationId: updateContactExport
      summary: Oracle Eloqua Update a contact export definition
      description: Update an existing contact export definition.
      tags:
      - Contact Exports
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportDefinition'
      responses:
        '200':
          description: Contact export definition updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportDefinition'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Export definition not found
    delete:
      operationId: deleteContactExport
      summary: Oracle Eloqua Delete a contact export definition
      description: Delete a contact export definition by its identifier.
      tags:
      - Contact Exports
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '204':
          description: Export definition deleted
        '401':
          description: Unauthorized
        '404':
          description: Export definition not found
  /contacts/exports/{id}/data:
    get:
      operationId: getContactExportData
      summary: Oracle Eloqua Retrieve contact export data
      description: Retrieve the data from a completed contact export.
      tags:
      - Contact Exports
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successfully retrieved export data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkDataResult'
        '401':
          description: Unauthorized
        '404':
          description: Export not found
components:
  parameters:
    orderBy:
      name: orderBy
      in: query
      description: Field to sort results by
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: Starting index for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
    limit:
      name: limit
      in: query
      description: Maximum number of records to return
      schema:
        type: integer
        minimum: 1
        maximum: 50000
        default: 1000
    id:
      name: id
      in: path
      required: true
      description: The unique identifier of the resource
      schema:
        type: string
  schemas:
    ExportList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ExportDefinition'
        totalResults:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        hasMore:
          type: boolean
    ExportDefinition:
      type: object
      required:
      - name
      - fields
      properties:
        uri:
          type: string
          description: URI of the export definition
          readOnly: true
        name:
          type: string
          description: Name of the export definition
        fields:
          type: object
          description: 'Map of output column names to Eloqua field statement identifiers (e.g., {"EmailAddress": "{{Contact.Field(C_EmailAddress)}}"})'
          additionalProperties:
            type: string
        filter:
          type: string
          description: Filter expression to select records for export (e.g., "{{Contact.CreatedAt}} > '2024-01-01'")
        maxRecords:
          type: integer
          description: Maximum number of records to export
        dataRetentionDuration:
          type: string
          description: How long exported data is retained (e.g., PT12H for 12 hours)
        areSystemTimestampsInUTC:
          type: boolean
          description: Whether timestamps are in UTC
          default: true
        autoDeleteDuration:
          type: string
          description: Auto-delete duration for the export definition
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp
          readOnly: true
        syncedInstanceUri:
          type: string
          description: URI of the last sync associated with this definition
          readOnly: true
        status:
          type: string
          description: Status of the export definition
          readOnly: true
    BulkDataResult:
      type: object
      properties:
        items:
          type: array
          description: Array of data records
          items:
            type: object
            additionalProperties:
              type: string
        totalResults:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        hasMore:
          type: boolean
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using company\username and password in the format CompanyName\Username.
    oAuth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow
      flows:
        authorizationCode:
          authorizationUrl: https://login.eloqua.com/auth/oauth2/authorize
          tokenUrl: https://login.eloqua.com/auth/oauth2/token
          scopes:
            full: Full access to all Eloqua resources
externalDocs:
  description: Oracle Eloqua Bulk API Documentation
  url: https://docs.oracle.com/en/cloud/saas/marketing/eloqua-rest-api/BulkAPI.html
