openapi: 3.1.0
info:
  title: Oracle Eloqua Bulk Account Exports Syncs API
  description: The Bulk API for Oracle Eloqua Marketing Cloud Service, designed for high-volume data operations including imports, exports, and synchronization of large datasets for contacts, accounts, activities, and custom objects.
  version: '2.0'
  contact:
    name: Oracle Support
    url: https://support.oracle.com/
  termsOfService: https://www.oracle.com/legal/terms.html
servers:
- url: https://secure.p01.eloqua.com/API/Bulk/2.0
  description: Eloqua Bulk API v2.0 (pod may vary per instance)
security:
- basicAuth: []
- oAuth2: []
tags:
- name: Syncs
  description: Manage data synchronization operations
paths:
  /syncs:
    get:
      operationId: listSyncs
      summary: Oracle Eloqua List syncs
      description: Retrieve all sync operations.
      tags:
      - Syncs
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/orderBy'
      responses:
        '200':
          description: Successfully retrieved syncs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncList'
        '401':
          description: Unauthorized
    post:
      operationId: createSync
      summary: Oracle Eloqua Create a sync
      description: Create a new sync operation to execute an import or export definition. The sync triggers the actual data transfer.
      tags:
      - Syncs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sync'
      responses:
        '201':
          description: Sync created and queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sync'
        '400':
          description: Bad request - invalid sync definition
        '401':
          description: Unauthorized
  /syncs/{id}:
    get:
      operationId: getSync
      summary: Oracle Eloqua Retrieve a sync
      description: Retrieve a specific sync operation by its identifier to check status.
      tags:
      - Syncs
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Successfully retrieved sync
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sync'
        '401':
          description: Unauthorized
        '404':
          description: Sync not found
  /syncs/{id}/data:
    get:
      operationId: getSyncData
      summary: Oracle Eloqua Retrieve sync data
      description: Retrieve the data associated with a completed sync operation.
      tags:
      - Syncs
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successfully retrieved sync data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkDataResult'
        '401':
          description: Unauthorized
        '404':
          description: Sync not found
    delete:
      operationId: deleteSyncData
      summary: Oracle Eloqua Delete sync data
      description: Delete the data associated with a sync operation.
      tags:
      - Syncs
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '204':
          description: Sync data deleted
        '401':
          description: Unauthorized
        '404':
          description: Sync not found
  /syncs/{id}/logs:
    get:
      operationId: getSyncLogs
      summary: Oracle Eloqua Retrieve sync logs
      description: Retrieve log entries for a specific sync operation, including any errors or warnings that occurred during processing.
      tags:
      - Syncs
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successfully retrieved sync logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncLogList'
        '401':
          description: Unauthorized
        '404':
          description: Sync not found
  /syncs/{id}/rejects:
    get:
      operationId: getSyncRejects
      summary: Oracle Eloqua Retrieve sync rejects
      description: Retrieve rejected records from a sync operation, showing data rows that could not be processed.
      tags:
      - Syncs
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successfully retrieved sync rejects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkDataResult'
        '401':
          description: Unauthorized
        '404':
          description: Sync not found
components:
  parameters:
    orderBy:
      name: orderBy
      in: query
      description: Field to sort results by
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: Starting index for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
    limit:
      name: limit
      in: query
      description: Maximum number of records to return
      schema:
        type: integer
        minimum: 1
        maximum: 50000
        default: 1000
    id:
      name: id
      in: path
      required: true
      description: The unique identifier of the resource
      schema:
        type: string
  schemas:
    SyncLog:
      type: object
      properties:
        severity:
          type: string
          enum:
          - information
          - warning
          - error
          description: Severity of the log entry
        message:
          type: string
          description: Log message text
        count:
          type: integer
          description: Number of records affected
        createdAt:
          type: string
          format: date-time
          description: Log entry timestamp
    SyncLogList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/SyncLog'
        totalResults:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        hasMore:
          type: boolean
    BulkDataResult:
      type: object
      properties:
        items:
          type: array
          description: Array of data records
          items:
            type: object
            additionalProperties:
              type: string
        totalResults:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        hasMore:
          type: boolean
    SyncList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Sync'
        totalResults:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        hasMore:
          type: boolean
    Sync:
      type: object
      required:
      - syncedInstanceUri
      properties:
        uri:
          type: string
          description: URI of the sync
          readOnly: true
        syncedInstanceUri:
          type: string
          description: URI of the import or export definition to sync (e.g., /contacts/exports/1)
        syncStartedAt:
          type: string
          format: date-time
          description: When the sync started
          readOnly: true
        syncEndedAt:
          type: string
          format: date-time
          description: When the sync completed
          readOnly: true
        status:
          type: string
          enum:
          - pending
          - active
          - success
          - warning
          - error
          description: Current status of the sync
          readOnly: true
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp
          readOnly: true
        createdBy:
          type: string
          description: User who created the sync
          readOnly: true
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using company\username and password in the format CompanyName\Username.
    oAuth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow
      flows:
        authorizationCode:
          authorizationUrl: https://login.eloqua.com/auth/oauth2/authorize
          tokenUrl: https://login.eloqua.com/auth/oauth2/token
          scopes:
            full: Full access to all Eloqua resources
externalDocs:
  description: Oracle Eloqua Bulk API Documentation
  url: https://docs.oracle.com/en/cloud/saas/marketing/eloqua-rest-api/BulkAPI.html
