openapi: 3.1.0
info:
  title: Oracle Eloqua Bulk Account Exports Contact Imports API
  description: The Bulk API for Oracle Eloqua Marketing Cloud Service, designed for high-volume data operations including imports, exports, and synchronization of large datasets for contacts, accounts, activities, and custom objects.
  version: '2.0'
  contact:
    name: Oracle Support
    url: https://support.oracle.com/
  termsOfService: https://www.oracle.com/legal/terms.html
servers:
- url: https://secure.p01.eloqua.com/API/Bulk/2.0
  description: Eloqua Bulk API v2.0 (pod may vary per instance)
security:
- basicAuth: []
- oAuth2: []
tags:
- name: Contact Imports
  description: Import contact data in bulk
paths:
  /contacts/imports:
    get:
      operationId: listContactImports
      summary: Oracle Eloqua List contact import definitions
      description: Retrieve all contact import definitions.
      tags:
      - Contact Imports
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/orderBy'
      responses:
        '200':
          description: Successfully retrieved contact imports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportList'
        '401':
          description: Unauthorized
    post:
      operationId: createContactImport
      summary: Oracle Eloqua Create a contact import definition
      description: Create a new import definition for contacts. After creation, push data and create a sync to execute the import.
      tags:
      - Contact Imports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportDefinition'
      responses:
        '201':
          description: Contact import definition created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportDefinition'
        '400':
          description: Bad request - invalid import definition
        '401':
          description: Unauthorized
  /contacts/imports/{id}:
    get:
      operationId: getContactImport
      summary: Oracle Eloqua Retrieve a contact import definition
      description: Retrieve a specific contact import definition by its identifier.
      tags:
      - Contact Imports
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Successfully retrieved contact import
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportDefinition'
        '401':
          description: Unauthorized
        '404':
          description: Import definition not found
    put:
      operationId: updateContactImport
      summary: Oracle Eloqua Update a contact import definition
      description: Update an existing contact import definition.
      tags:
      - Contact Imports
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportDefinition'
      responses:
        '200':
          description: Contact import definition updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportDefinition'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Import definition not found
    delete:
      operationId: deleteContactImport
      summary: Oracle Eloqua Delete a contact import definition
      description: Delete a contact import definition by its identifier.
      tags:
      - Contact Imports
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '204':
          description: Import definition deleted
        '401':
          description: Unauthorized
        '404':
          description: Import definition not found
  /contacts/imports/{id}/data:
    post:
      operationId: pushContactImportData
      summary: Oracle Eloqua Push data to a contact import
      description: Push data records to be processed by the contact import definition.
      tags:
      - Contact Imports
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties:
                  type: string
      responses:
        '204':
          description: Data pushed successfully
        '400':
          description: Bad request - invalid data
        '401':
          description: Unauthorized
        '404':
          description: Import definition not found
    delete:
      operationId: deleteContactImportData
      summary: Oracle Eloqua Delete staged contact import data
      description: Delete data that has been staged for the import but not yet synced.
      tags:
      - Contact Imports
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '204':
          description: Staged data deleted
        '401':
          description: Unauthorized
        '404':
          description: Import definition not found
  /contacts/syncActions:
    post:
      operationId: createContactSyncAction
      summary: Oracle Eloqua Create a contact sync action
      description: Create a sync action for contacts, such as setting subscription status.
      tags:
      - Contact Imports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncAction'
      responses:
        '201':
          description: Sync action created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncAction'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
components:
  schemas:
    ImportDefinition:
      type: object
      required:
      - name
      - fields
      - identifierFieldName
      properties:
        uri:
          type: string
          description: URI of the import definition
          readOnly: true
        name:
          type: string
          description: Name of the import definition
        fields:
          type: object
          description: 'Map of source column names to Eloqua field statement identifiers (e.g., {"EmailAddress": "{{Contact.Field(C_EmailAddress)}}"})'
          additionalProperties:
            type: string
        identifierFieldName:
          type: string
          description: The field used to match import data to existing records (e.g., "EmailAddress")
        isSyncTriggeredOnImport:
          type: boolean
          description: Whether a sync is automatically triggered when data is pushed
          default: false
        syncActions:
          type: array
          description: Actions to perform during sync
          items:
            $ref: '#/components/schemas/SyncAction'
        dataRetentionDuration:
          type: string
          description: How long imported data is retained
        isUpdatingMultipleMatchedRecords:
          type: boolean
          description: Whether to update all matching records or just the first
          default: false
        autoDeleteDuration:
          type: string
          description: Auto-delete duration for the import definition
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp
          readOnly: true
        syncedInstanceUri:
          type: string
          description: URI of the last sync associated with this definition
          readOnly: true
        status:
          type: string
          description: Status of the import definition
          readOnly: true
    ImportList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ImportDefinition'
        totalResults:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        hasMore:
          type: boolean
    SyncAction:
      type: object
      properties:
        action:
          type: string
          enum:
          - add
          - remove
          - setStatus
          description: The action to perform
        destination:
          type: string
          description: The destination for the action (e.g., a contact list URI or subscription status)
        status:
          type: string
          description: The status to set (when action is setStatus)
  parameters:
    orderBy:
      name: orderBy
      in: query
      description: Field to sort results by
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: Starting index for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
    limit:
      name: limit
      in: query
      description: Maximum number of records to return
      schema:
        type: integer
        minimum: 1
        maximum: 50000
        default: 1000
    id:
      name: id
      in: path
      required: true
      description: The unique identifier of the resource
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using company\username and password in the format CompanyName\Username.
    oAuth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow
      flows:
        authorizationCode:
          authorizationUrl: https://login.eloqua.com/auth/oauth2/authorize
          tokenUrl: https://login.eloqua.com/auth/oauth2/token
          scopes:
            full: Full access to all Eloqua resources
externalDocs:
  description: Oracle Eloqua Bulk API Documentation
  url: https://docs.oracle.com/en/cloud/saas/marketing/eloqua-rest-api/BulkAPI.html
