openapi: 3.1.0
info:
  title: Oracle Eloqua Bulk Account Exports Emails API
  description: The Bulk API for Oracle Eloqua Marketing Cloud Service, designed for high-volume data operations including imports, exports, and synchronization of large datasets for contacts, accounts, activities, and custom objects.
  version: '2.0'
  contact:
    name: Oracle Support
    url: https://support.oracle.com/
  termsOfService: https://www.oracle.com/legal/terms.html
servers:
- url: https://secure.p01.eloqua.com/API/Bulk/2.0
  description: Eloqua Bulk API v2.0 (pod may vary per instance)
security:
- basicAuth: []
- oAuth2: []
tags:
- name: Emails
  description: Create and manage email assets
paths:
  /assets/emails:
    get:
      operationId: listEmails
      summary: Oracle Eloqua List emails
      description: Retrieve all email assets matching the specified criteria.
      tags:
      - Emails
      parameters:
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/depth'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/orderBy'
      - $ref: '#/components/parameters/lastUpdatedAt'
      responses:
        '200':
          description: Successfully retrieved emails
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResultEmail'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
  /assets/email:
    post:
      operationId: createEmail
      summary: Oracle Eloqua Create an email
      description: Create a new email asset.
      tags:
      - Emails
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Email'
      responses:
        '201':
          description: Email created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
  /assets/email/{id}:
    get:
      operationId: getEmail
      summary: Oracle Eloqua Retrieve an email
      description: Retrieve a single email asset by its identifier.
      tags:
      - Emails
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/depth'
      - name: noMergeContent
        in: query
        description: Whether email components are dynamically populated
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Successfully retrieved email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
        '401':
          description: Unauthorized
        '404':
          description: Email not found
    put:
      operationId: updateEmail
      summary: Oracle Eloqua Update an email
      description: Update an existing email asset.
      tags:
      - Emails
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Email'
      responses:
        '200':
          description: Successfully updated email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Email not found
    delete:
      operationId: deleteEmail
      summary: Oracle Eloqua Delete an email
      description: Delete an email asset by its identifier.
      tags:
      - Emails
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '204':
          description: Email deleted successfully
        '401':
          description: Unauthorized
        '404':
          description: Email not found
  /assets/email/deployment:
    post:
      operationId: createEmailDeployment
      summary: Oracle Eloqua Create an email deployment
      description: Create and send an email deployment to a specified contact list or segment.
      tags:
      - Emails
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailDeployment'
      responses:
        '201':
          description: Email deployment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailDeployment'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
  /assets/email/deployment/{id}:
    get:
      operationId: getEmailDeployment
      summary: Oracle Eloqua Retrieve an email deployment
      description: Retrieve an email deployment by its identifier.
      tags:
      - Emails
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Successfully retrieved email deployment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailDeployment'
        '401':
          description: Unauthorized
        '404':
          description: Deployment not found
components:
  parameters:
    orderBy:
      name: orderBy
      in: query
      description: Field to sort results by (e.g., createdAt DESC)
      schema:
        type: string
    lastUpdatedAt:
      name: lastUpdatedAt
      in: query
      description: Unix timestamp to filter entities updated after this time
      schema:
        type: integer
    count:
      name: count
      in: query
      description: Maximum number of entities to return (1-1000)
      schema:
        type: integer
        minimum: 1
        maximum: 1000
    depth:
      name: depth
      in: query
      description: Level of detail returned for the entity
      schema:
        type: string
        enum:
        - minimal
        - partial
        - complete
        default: minimal
    page:
      name: page
      in: query
      description: Page number to return (starts at 1)
      schema:
        type: integer
        minimum: 1
        default: 1
    search:
      name: search
      in: query
      description: Search criteria for filtering results
      schema:
        type: string
    id:
      name: id
      in: path
      required: true
      description: The unique identifier of the resource
      schema:
        type: string
  schemas:
    EmailDeployment:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the deployment
          readOnly: true
        name:
          type: string
          description: Deployment name
        email:
          type: object
          description: The email asset to deploy
          properties:
            id:
              type: string
              description: Email asset identifier
            type:
              type: string
        contactList:
          type: object
          description: Target contact list
          properties:
            id:
              type: string
              description: Contact list identifier
            type:
              type: string
        segment:
          type: object
          description: Target contact segment
          properties:
            id:
              type: string
              description: Segment identifier
            type:
              type: string
        type:
          type: string
          description: Deployment type
    QueryResultEmail:
      type: object
      properties:
        elements:
          type: array
          items:
            $ref: '#/components/schemas/Email'
        page:
          type: integer
        pageSize:
          type: integer
        total:
          type: integer
    Email:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the email
          readOnly: true
        name:
          type: string
          description: Email name
        description:
          type: string
          description: Email description
        subject:
          type: string
          description: Email subject line
        senderName:
          type: string
          description: Sender name displayed to recipients
        senderEmail:
          type: string
          format: email
          description: Sender email address
        replyToEmail:
          type: string
          format: email
          description: Reply-to email address
        replyToName:
          type: string
          description: Reply-to name
        previewText:
          type: string
          description: Preheader text (max 500 characters)
          maxLength: 500
        htmlContent:
          type: object
          description: HTML content of the email
          properties:
            type:
              type: string
            contentSource:
              type: string
              description: HTML source content
        plainText:
          type: string
          description: Plain text version of the email
        sendPlainTextOnly:
          type: boolean
          description: Whether to send as plain text only
        isTracked:
          type: string
          description: Whether Eloqua tracks interactions
        currentStatus:
          type: string
          description: Current email status
          readOnly: true
        renderMode:
          type: string
          enum:
          - fixed
          - flow
          description: Email layout rendering mode
        archived:
          type: boolean
          description: Whether the email is archived
        folderId:
          type: string
          description: Containing folder identifier
          readOnly: true
        createdAt:
          type: string
          description: Creation timestamp (Unix time)
          readOnly: true
        updatedAt:
          type: string
          description: Last update timestamp (Unix time)
          readOnly: true
        createdBy:
          type: string
          description: User who created the email
          readOnly: true
        updatedBy:
          type: string
          description: User who last updated the email
          readOnly: true
        depth:
          type: string
          description: Level of detail returned
          readOnly: true
        type:
          type: string
          description: Asset type in Eloqua
          readOnly: true
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using company\username and password in the format CompanyName\Username.
    oAuth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow
      flows:
        authorizationCode:
          authorizationUrl: https://login.eloqua.com/auth/oauth2/authorize
          tokenUrl: https://login.eloqua.com/auth/oauth2/token
          scopes:
            full: Full access to all Eloqua resources
externalDocs:
  description: Oracle Eloqua Bulk API Documentation
  url: https://docs.oracle.com/en/cloud/saas/marketing/eloqua-rest-api/BulkAPI.html
