openapi: 3.1.0
info:
  title: Oracle Eloqua Bulk Account Exports Landing Pages API
  description: The Bulk API for Oracle Eloqua Marketing Cloud Service, designed for high-volume data operations including imports, exports, and synchronization of large datasets for contacts, accounts, activities, and custom objects.
  version: '2.0'
  contact:
    name: Oracle Support
    url: https://support.oracle.com/
  termsOfService: https://www.oracle.com/legal/terms.html
servers:
- url: https://secure.p01.eloqua.com/API/Bulk/2.0
  description: Eloqua Bulk API v2.0 (pod may vary per instance)
security:
- basicAuth: []
- oAuth2: []
tags:
- name: Landing Pages
  description: Create and manage landing pages
paths:
  /assets/landingPages:
    get:
      operationId: listLandingPages
      summary: Oracle Eloqua List landing pages
      description: Retrieve all landing page assets matching the specified criteria.
      tags:
      - Landing Pages
      parameters:
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/depth'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/orderBy'
      responses:
        '200':
          description: Successfully retrieved landing pages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResultLandingPage'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
  /assets/landingPage:
    post:
      operationId: createLandingPage
      summary: Oracle Eloqua Create a landing page
      description: Create a new landing page asset.
      tags:
      - Landing Pages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LandingPage'
      responses:
        '201':
          description: Landing page created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LandingPage'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
  /assets/landingPage/{id}:
    get:
      operationId: getLandingPage
      summary: Oracle Eloqua Retrieve a landing page
      description: Retrieve a single landing page asset by its identifier.
      tags:
      - Landing Pages
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/depth'
      responses:
        '200':
          description: Successfully retrieved landing page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LandingPage'
        '401':
          description: Unauthorized
        '404':
          description: Landing page not found
    put:
      operationId: updateLandingPage
      summary: Oracle Eloqua Update a landing page
      description: Update an existing landing page asset.
      tags:
      - Landing Pages
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LandingPage'
      responses:
        '200':
          description: Successfully updated landing page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LandingPage'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Landing page not found
    delete:
      operationId: deleteLandingPage
      summary: Oracle Eloqua Delete a landing page
      description: Delete a landing page asset by its identifier.
      tags:
      - Landing Pages
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '204':
          description: Landing page deleted successfully
        '401':
          description: Unauthorized
        '404':
          description: Landing page not found
components:
  parameters:
    orderBy:
      name: orderBy
      in: query
      description: Field to sort results by (e.g., createdAt DESC)
      schema:
        type: string
    count:
      name: count
      in: query
      description: Maximum number of entities to return (1-1000)
      schema:
        type: integer
        minimum: 1
        maximum: 1000
    depth:
      name: depth
      in: query
      description: Level of detail returned for the entity
      schema:
        type: string
        enum:
        - minimal
        - partial
        - complete
        default: minimal
    page:
      name: page
      in: query
      description: Page number to return (starts at 1)
      schema:
        type: integer
        minimum: 1
        default: 1
    search:
      name: search
      in: query
      description: Search criteria for filtering results
      schema:
        type: string
    id:
      name: id
      in: path
      required: true
      description: The unique identifier of the resource
      schema:
        type: string
  schemas:
    LandingPage:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the landing page
          readOnly: true
        name:
          type: string
          description: Landing page name
        description:
          type: string
          description: Landing page description
        htmlContent:
          type: object
          description: HTML content of the landing page
          properties:
            type:
              type: string
            contentSource:
              type: string
              description: HTML source content
        relativePath:
          type: string
          description: Relative URL path for the landing page
        micrositeId:
          type: string
          description: Associated microsite identifier
        currentStatus:
          type: string
          description: Current landing page status
          readOnly: true
        archived:
          type: boolean
          description: Whether the landing page is archived
        folderId:
          type: string
          description: Containing folder identifier
          readOnly: true
        createdAt:
          type: string
          description: Creation timestamp (Unix time)
          readOnly: true
        updatedAt:
          type: string
          description: Last update timestamp (Unix time)
          readOnly: true
        depth:
          type: string
          description: Level of detail returned
          readOnly: true
        type:
          type: string
          description: Asset type in Eloqua
          readOnly: true
    QueryResultLandingPage:
      type: object
      properties:
        elements:
          type: array
          items:
            $ref: '#/components/schemas/LandingPage'
        page:
          type: integer
        pageSize:
          type: integer
        total:
          type: integer
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using company\username and password in the format CompanyName\Username.
    oAuth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow
      flows:
        authorizationCode:
          authorizationUrl: https://login.eloqua.com/auth/oauth2/authorize
          tokenUrl: https://login.eloqua.com/auth/oauth2/token
          scopes:
            full: Full access to all Eloqua resources
externalDocs:
  description: Oracle Eloqua Bulk API Documentation
  url: https://docs.oracle.com/en/cloud/saas/marketing/eloqua-rest-api/BulkAPI.html
