openapi: 3.1.0
info:
  title: Oracle Eloqua Bulk Account Exports Custom Object Exports API
  description: The Bulk API for Oracle Eloqua Marketing Cloud Service, designed for high-volume data operations including imports, exports, and synchronization of large datasets for contacts, accounts, activities, and custom objects.
  version: '2.0'
  contact:
    name: Oracle Support
    url: https://support.oracle.com/
  termsOfService: https://www.oracle.com/legal/terms.html
servers:
- url: https://secure.p01.eloqua.com/API/Bulk/2.0
  description: Eloqua Bulk API v2.0 (pod may vary per instance)
security:
- basicAuth: []
- oAuth2: []
tags:
- name: Custom Object Exports
  description: Export custom object data in bulk
paths:
  /customObjects/{parentId}/exports:
    get:
      operationId: listCustomObjectExports
      summary: Oracle Eloqua List custom object export definitions
      description: Retrieve all export definitions for a specific custom object.
      tags:
      - Custom Object Exports
      parameters:
      - $ref: '#/components/parameters/parentId'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successfully retrieved custom object exports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportList'
        '401':
          description: Unauthorized
        '404':
          description: Custom object not found
    post:
      operationId: createCustomObjectExport
      summary: Oracle Eloqua Create a custom object export definition
      description: Create a new export definition for a custom object.
      tags:
      - Custom Object Exports
      parameters:
      - $ref: '#/components/parameters/parentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportDefinition'
      responses:
        '201':
          description: Custom object export definition created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportDefinition'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
  /customObjects:
    get:
      operationId: listBulkCustomObjects
      summary: Oracle Eloqua List available custom objects
      description: Retrieve all custom objects available for bulk operations.
      tags:
      - Custom Object Exports
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successfully retrieved custom objects
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        uri:
                          type: string
                          description: Custom object URI
                        name:
                          type: string
                          description: Custom object name
                  totalResults:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
                  hasMore:
                    type: boolean
        '401':
          description: Unauthorized
components:
  parameters:
    parentId:
      name: parentId
      in: path
      required: true
      description: The parent custom object identifier
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: Starting index for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
    limit:
      name: limit
      in: query
      description: Maximum number of records to return
      schema:
        type: integer
        minimum: 1
        maximum: 50000
        default: 1000
  schemas:
    ExportList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ExportDefinition'
        totalResults:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        hasMore:
          type: boolean
    ExportDefinition:
      type: object
      required:
      - name
      - fields
      properties:
        uri:
          type: string
          description: URI of the export definition
          readOnly: true
        name:
          type: string
          description: Name of the export definition
        fields:
          type: object
          description: 'Map of output column names to Eloqua field statement identifiers (e.g., {"EmailAddress": "{{Contact.Field(C_EmailAddress)}}"})'
          additionalProperties:
            type: string
        filter:
          type: string
          description: Filter expression to select records for export (e.g., "{{Contact.CreatedAt}} > '2024-01-01'")
        maxRecords:
          type: integer
          description: Maximum number of records to export
        dataRetentionDuration:
          type: string
          description: How long exported data is retained (e.g., PT12H for 12 hours)
        areSystemTimestampsInUTC:
          type: boolean
          description: Whether timestamps are in UTC
          default: true
        autoDeleteDuration:
          type: string
          description: Auto-delete duration for the export definition
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp
          readOnly: true
        syncedInstanceUri:
          type: string
          description: URI of the last sync associated with this definition
          readOnly: true
        status:
          type: string
          description: Status of the export definition
          readOnly: true
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using company\username and password in the format CompanyName\Username.
    oAuth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow
      flows:
        authorizationCode:
          authorizationUrl: https://login.eloqua.com/auth/oauth2/authorize
          tokenUrl: https://login.eloqua.com/auth/oauth2/token
          scopes:
            full: Full access to all Eloqua resources
externalDocs:
  description: Oracle Eloqua Bulk API Documentation
  url: https://docs.oracle.com/en/cloud/saas/marketing/eloqua-rest-api/BulkAPI.html
